.activation-modal {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .modal {
    &-title{
      font-size: 3rem;
      margin-bottom: 0.75rem;
      color: green;
    }

    &-desc {
      font-size: 2rem;

      span {
        font-weight: bold;
        font-size: 2rem;
        color: green;
      }
    }

    &-btn {
      width: 30%;
      color: #fff;
      background-color: green;
      padding: 1rem 1rem;
      margin-top: 3rem;
      font-weight: bold;
    }
  }
}