<div class="user-profile-wrapper">
    <mat-card>
      <mat-card-content>
        <mat-list>
          <div class="user-profile-line">
            <mat-list-item>
              <strong>First Name:</strong> {{ user.firstName }}
            </mat-list-item>
            <mat-list-item>
              <strong>Last Name:</strong> {{ user.lastName }}
            </mat-list-item>
          </div>
          <div class="user-profile-line">
            <mat-list-item>
              <strong>Date of Birth:</strong> {{ user.dateOfBirth }}
            </mat-list-item>
            <mat-list-item>
              <strong>Gender:</strong> {{ user.gender }}
            </mat-list-item>
          </div>
          <div class="user-profile-line">
            <mat-list-item>
              <strong>Username:</strong> {{ user.username }}
            </mat-list-item>
            <mat-list-item>
              <strong>Email:</strong> {{ user.email }}
            </mat-list-item>
          </div>
          <div class="user-profile-line fa2">
            <mat-list-item>
              <strong>2 Factor Authentication:</strong>
              <label class="switch">
                <input id="toggle2fa" type="checkbox" [(ngModel)]="is2faEnabled" (change)="onToggle2fa()">
                <span class="slider round"></span>
              </label>
              <!-- {{ user.isActivated }} -->
            </mat-list-item>
          </div>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  
