.account-activation-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;

    .account-activation-message {
        margin-top: 20%;
        font-size: xx-large;
        font-weight: bold;
    }

    .posts-redirect-button {
        width: 10%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        margin-top: 1%;
        font-size: large;
    }
}