:root {
  --default-primary-color: #000;

  --form-primary-color: #00d4ff;
  --form-secondary-color: #a020f0;
  --form-tertiary-color: #fff;
  --form-highlight-color: #ffe600;

  --primary-font: 'Raleway', Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  font-size: 1.6rem;
  color: var(--default-primary-color);
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow-x: hidden;
}

button, 
input {
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}




