:root {
  --default-primary-color: #020403;

  --form-primary-color: #00d4ff;
  --form-secondary-color: #a020f0;
  --form-tertiary-color: #fff;
  --form-highlight-color: #ffe600;
  --form-default-color: #c5c6d0;

  --primary-color: #026ffd;

  --primary-font: 'Raleway', Arial, sans-serif;
  --secondary-font: Georgia, 'Times New Roman', Times, serif;
}