.profile-wrapper {
    min-height: calc(100vh - 175px);
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #F2DCA6;

    .btn {
        width: 10%;
        padding-top: 1%;
        padding-bottom: 1%;
        margin-left: 77.3%;
        margin-bottom: 2%;
    }
}