.posts-form-wrapper {
  padding: 40px 20px;

  .posts-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    .posts-form-title {
      font-size: 18px;
      font-weight: 500;
    }
  }

  .posts-form {
    .full-width {
      width: 100%;
    }

    .posts-form-actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 30px;
    }
  }
}
