<app-navbar></app-navbar>

<div class="feed-wrapper">
  <div class="container">
    <div class="feed-header">
      <h1 class="feed-title">Posts feed</h1>
      <div class="feed-actions-group">
        <button
          (click)="openDialog()"
          class="btn post-form-init"
        >
          Create Post
        </button>
      </div>
    </div>
    <app-posts-list [posts]="posts"></app-posts-list>
    <app-posts-create-form *ngIf="showPostForm"></app-posts-create-form>
  </div>
</div>

<app-footer></app-footer>
