<div class="post-list">
    <div *ngFor="let post of getPosts()" class="post">
      <div class="post-title">{{ post.getName() }}</div>
      <div class="post-author">Author: {{ post.getAuthor() }}</div>
      <div class="post-content">{{ post.getContent() }}</div>
      <div class="post-comments">
        <div *ngFor="let comment of post.getComments()" class="comments">
            <div class="comment-author"> {{ comment.getAuthor() }} </div>
            <div class="comment-content"> {{ comment.getContent() }} </div>
      </div>
    </div>
  </div>
  
