.post-list {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #a020f0;
  }
  
  .post {
    border: 5px solid #a020f0;
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  .post-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #1c0f99;
  }
  
  .post-author {
    font-size: 1rem;
    color: #777;
  }
  
  .post-content {
    font-size: 1.1rem;
    line-height: 1.4;
    margin-top: 10px;
  }
  
  .post-comments {
    margin-top: 20px;
  }
  
  .comments {
    border-left: 2px solid #ccc;
    padding-left: 10px;
    margin-top: 10px;
  }
  
  .comment-author {
    font-size: 1rem;
    color: #777;
    margin-bottom: 5px;
  }
  
  .comment-content {
    font-size: 1rem;
    line-height: 1.3;
    color: #333;
  }