<nav class="navbar">
  <div class="container">
    <h2 class="logo">
      <a (click)="navigateToUrl('/posts')">MindShare</a>
    </h2>
    <div class="links">
      <a class="link" (click)="navigateToUrl('/posts')">
        <mat-icon>explore</mat-icon>
        Posts
      </a>
      <a class="link" (click)="navigateToUrl('/resources')">
        <mat-icon>collections_bookmark</mat-icon>
        Resources
      </a>
      <a class="link" (click)="navigateToUrl('/profile')">
        <mat-icon>account_circle</mat-icon>
        User profile
      </a>
      <a class="link link-exit" (click)="navigateToLogin()">
        <mat-icon>exit_to_app</mat-icon>
        Logout
      </a>
    </div>
  </div>
</nav>