<div class="comment-form-wrapper">
    <form class="comment-form" [formGroup]="commentCreationForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="form-component">
            <textarea matInput placeholder="Leave a comment.." formControlName="content"></textarea>
            <mat-error *ngIf="commentCreationForm.controls.content.hasError('required')"> Comment cannot be empty </mat-error>
        </mat-form-field>
    </form>

    <div class="comment-form-action">
        <button mat-raised-button color="primary" type="submit">
            {{ "Submit" | uppercase }}
        </button>
    </div>
</div>
